html,
body {
    margin: 0;
    height: 100%;

    /* we do this so that absolutely positioned elements,
    i.e. 'terminal-panel', don't trigger scrollbars when moved
    outside of viewport */
    overflow: hidden;
}


/*********************************
 * LAYOUT
 *********************************/
#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

#container {
    flex-grow: 1;
    position: relative;
}

/*********************************
 * PAGE ELEMENTS
 *********************************/
.flat-button {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    background-color: orange;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    cursor: pointer;
    /* display: block; */
}

.flat-button:hover {
    background-color: gray;
}

.flat-label {
    border: 0;
    background: none;
    box-shadow: none;
    border-radius: 0px;
    /* background-color: orange; */
    background-color: gray;
    color: white;
    padding: 8px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    /* display: block; */
}

a.flat-button {
    text-decoration: none;
}
